/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000; /* light gray background */
  color: #333; /* dark text color */
}

/* Search bar and buttons styling */
.searchs-bar {
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 10px;
  border-radius: 15px;
}

.searchs-bar input {
  height: 2rem;
  width: 15rem;
  padding: 0.5rem 1rem; /* padding inside input */
  border: none;
  border-radius: 1.5rem; /* rounder corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
  outline: none; /* remove default focus outline */
  font-size: 1rem;
  transition: all 0.3s ease; /* smooth transition for hover and focus */
}

.searchs-bar input:hover,
.searchs-bar input:focus {
  transform: scale(1.02); /* slight scale up on hover/focus */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* stronger shadow on hover/focus */
}

.btnss {
  display: flex;
  margin-left: 20px; /* adjust spacing between input and buttons */
}

.btnss button {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #f39c12;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.2s;
}

.btnss button:hover {
  background-color: #ff7620;
  transform: scale(1.05); /* slight scale up on hover */
}

/* Table container styles */
.tables-container {
  width: 80%;
  margin: 20px auto;
  background-image: linear-gradient(to right, #330029,#390147);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.coins-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.coins-table th,
.coins-table td {
  border: 2px solid #000000; /* light gray border */
  padding: 8px;
  text-align: center;
}

.coins-table th {
  background-color: #000000; /* purple background for headers */
  color: white;
}

.coins-table td img {
  height: 40px;
}

.coins-table td a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.coins-table td a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
}

.pagination li button {
  background-color: #ffa620;
  color: black;
  border: 1px solid black;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination li button:hover {
  background-color: #ff7620;
}

.pagination li.active button {
  background-color: #f0b43d;
}



/* Heading container styles */
.headings-container {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.headings-container h1 {
  font-size: 4rem;
  background-image: linear-gradient(to right, #d014ff, #eb960d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


.headings-container p {
  font-size: 1.2rem;
  text-align: center;
  background-image: linear-gradient(to right, #ffbe0d, #ff58e3);
  -webkit-text-fill-color: transparent;
  
  -webkit-background-clip: text;
  background-clip: text;
}


/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .searchs-bar {
    flex-direction: column; /* stack input and buttons vertically */
  }

  .searchs-bar input {
    width: 100%; /* full width on smaller screens */
    margin-bottom: 10px; /* spacing between input and buttons */
  }

  .btnss {
    flex-direction: row; /* align buttons horizontally */
    justify-content: center; /* center buttons */
  }

  .btnss button {
    margin: 0 5px; /* adjust button margin */
    padding: 8px 16px; /* adjust button padding */
  }

  .coin-tables th,
  .coin-tables td {
    padding: 6px; /* reduce padding for smaller screens */
  }
}
