.search-bar {
   
    top: 1%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .search-bar input {
    height: 2rem;
    width: 20rem; /* Adjust width as needed */
    padding-left: 5px;
  }
  
  .btns {
   
    top: 7%; /* Adjust as needed */
    right: 7%; /* Adjust as needed */
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .btns {
    margin-left: 75rem;
    margin-top: -4rem;
}
  .shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .maincontent{
    padding-bottom: 50px; 
  }


  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination li {
    list-style: none;
    margin: 0 5px;
  }
  
  .pagination li button {
    background-color: #ffa620;
    color: #000000;
    border: 1px solid #000000;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination li button:hover {
    background-color: #ff7620;
  }
  
  .pagination li.active button {
    background-color: #f0b43d;
  }
  


  @media only screen and (max-width: 600px) {
    .search-bar {
      top: 10%; /* Adjust as needed */
      left: 7%;
      transform: none; /* Reset transform for smaller screens */
    }
  
    .btns {
      top: 10%; /* Adjust as needed */
      right: 7%; /* Adjust as needed */
    }
  }
  
