/* Reset and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #000000;
    color: white;
}

/* General app styles */
.eapp {
    text-align: center;
    color: white;
    background: #000000;
    font-family: Arial, sans-serif;
}

/* Main content section */
.emain-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

/* Text section styles */
.etext-section {
    max-width: 800px;
}

.etext-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.etext-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Buttons styles */
.ebuttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.etrack-button, .elearn-button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.etrack-button {
    background-color: #655dfe;
    color: white;
    margin-right: 20px;
}

.elearn-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

/* Image section styles */
.eimage-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/* Features section styles */
.efeatures {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.efeature {
    background: #24244b;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.efeature .icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Market overview section styles */
.emarket-overview {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Adjust alignment */
    padding: 50px;
}

.eoverview-image {
    width: 50%; /* Set fixed width for the image container */
    min-width: 300px; /* Set minimum width to prevent contraction */
    text-align: center;
}

.eoverview-image img {
    max-width: 60%;
    height: auto;
    border-radius: 20px;
    display: inline-block; /* Use inline-block to respect width and height */
    vertical-align: top; /* Align images to the top */
}

.emarket-features {
    width: 40%;
}

.emarket-feature {
    background: #24244b;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.emarket-feature.open {
    background-color: #655dfe; /* Change background color when feature is open */
}

.emarket-feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.emarket-feature p {
    font-size: 16px;
    line-height: 1.5;
}

/* Portfolio info styles */
.eportfolio-info h3 {
    margin: 0;
    color: #f39c12;
}

.ecoin-info {
    margin-top: 20px;
}

.ecoin {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .emain-content {
        flex-direction: column;
        padding: 30px;
    }

    .etext-section {
        text-align: center;
    }

    .efeatures {
        flex-direction: column;
        padding: 30px;
    }

    .efeature {
        width: 100%;
        margin-bottom: 30px;
    }

    .emarket-overview {
        flex-direction: column;
        padding: 30px;
    }

    .eoverview-image {
        width: 70%;
        min-width: auto; /* Reset minimum width */
        text-align: center;
    }

    .emarket-features {
        width: 100%;
    }
}
